
html {
    box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,td,th,p,ul,li,dt,dd {
	font-size: 1em;
}

a {
    text-decoration: none;
}

ul li {
    display: inline-block;
}

// Fonts
$fonts: 'Open Sans', 'Roboto', sans-serif;
$playfair: 'Playfair Display';
$roboto: 'Roboto';
$roboto-mono: 'Roboto Mono';
$quicksand: 'Quicksand';
$font: 'Roboto', 'Roboto Mono', 'Quicksand', 'Playfair Display', sans-serif;
body {
    font-family: $font;
}

* {
	box-sizing: border-box;
}

// Global classes
.def-container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.top-container {
	width: 100%;
	max-width: 1585px;
	margin: 0 auto;
}

.text-center {
	text-align: center;
}

p {
	line-height: 1.5;
}

.post-container {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1343px;
  margin: 0 auto;
}
